@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Mooli&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
}
body{
    padding-bottom:1px;
}

.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

  
    
}
.logo{
    width: 25%;
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left:30px;
}
.logo img{
    width:50px;
    border: 3px solid white;
    border-radius:500px;
}

.middleNav{
  
    width: 400px;
    height: 30px;
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom:12px;
    display: flex;
    justify-content: center;

    
}

#search{
    height: 30px;
    width:270px;
    border-radius: 4px;
    
    vertical-align: center;

    
}
.btn{
    padding:6px 10px;
    vertical-align: middle;
    background:none;
    color: white;
    margin: 0 19px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;

}

.nav-list{
    
    list-style: none;
    width: 300px;
    display: flex;
    flex:1;
    justify-content:center;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
   
    margin-right: 0px;

    

}

.nav-list li{
   list-style: none;
   padding-left: 10px;
   padding-right:10px;
   font-size: 15px;
   

}
.nav-list li a:hover{
    color: rgb(15, 206, 164);
    text-decoration:solid;



}
.name{
    color:white;
    margin-left:5px;
    font-size:45px;
  
    font-family: 'Kanit', sans-serif;



}
.namem{
    color:white;
    margin-left:5px;
    font-size:45px;
    font-weight: bold;
    
    font-family: 'Mooli', sans-serif;


}
.plus{
    color:white;
    margin-left:5px;
    font-size:45px;
    font-weight: bold;
    
    font-family: 'Mooli', sans-serif;

}
.nav-list li  a{
    text-decoration: none;
    color:white;
    
    
    

}
.btn:hover{
    color:rgb(15, 206, 164);
    border-color: rgb(15, 206, 164);
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../icons/backgroundimage.jpg');
    background-size: cover;
    background-blend-mode: darken;

}


.first img{
    width:700px;
    border-radius: 200px;
   
    
}


.mainbox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
  

}
.ok{
    background-color:white;
    
}
.firstsection{
    height:100vh;
}
.b{
    display:flex;
    flex-direction: column;
    background-color:rgb(15, 206, 164);
    margin-bottom:100px;
    
}
.r1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:400px;

    
   
    
}
.second{
    background-color: black;
}
.sur{
    width:100%;
    border-radius: 10px;

    height:350px;
    
    
}

.c1{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
}
.c2{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
}
.c3{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    
}
.rr1{
    background-color: blue;
    display: flex;
    flex-direction: row;
    width:350px;
    height:350px;
    border:2px solid white;
    border-radius: 10px;

}
.rr2{
    margin-top: 10px;
   font-size: 25px;
   margin-left: 15px;
   font-weight: bold;
   font-family:'Kanit', sans-serif


}
.title{
    margin-bottom:20px;
    font-size:30px;
    margin-left:10px;
}
.b11{
    display:flex;
    flex-direction: column;
    background-color:rgb(15, 206, 164);
    
    
}
.titl{
    margin-bottom:20px;
    font-size:30px;
    margin-left:10px;
    margin-top:20px;
}
.contact{
    background-color:black;
    height: 300px;

}
.center{
    text-align: center;
    padding:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
   
    margin-top:10px;
}
.center1{
    text-align: center;
    padding:50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    text-decoration: underline;
   
    margin-top:10px;
    background-color: aquamarine;
}
.mail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    background-color: whitesmoke;

}
.mail a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

    